body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


button{
  font-size: 0.8rem;
  padding: 0.2rem;
  margin: 0.1rem;
  border-radius: 0.5rem;
  border: 0.1rem #404040 solid;
  background-color: rgb(rgb(96, 45, 177), green, blue);
  width: 100px;
  cursor: pointer;
}

button.add {
  background-color: #40c0f0;
  width: 1.5rem;
}
button.remove {
  background-color: #f04040;
  width: 1.5rem;
}
button.badge {
  background-color: #f04040;
  border: none;
  color: #ffffff;
  width: 2.5rem;
}
.text-right {
  text-align: right;
}
.AllProd{
  text-align: center;
}
.Paypal{
margin-left: 20px;
}


.Review a{
  width:auto;
  color: black;
}
.Ratings{
  background-color: white;
}

.reviewBTN{
  background-color: #f7dfa5;
  width: 90%;
  text-align: center;
 
  
}
button .ReviewC{
  color: black;
}

.row.center{
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: rgb(35, 47, 62);
  color:white;
}
.rowSide{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  
}

/* .col-1{
  flex:1;
  
} */
.col-2{
  flex: 2;
}
.row{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  width:500px
}
.cart{
  display: flex;
  flex-direction: row;
  color: white;
  position: relative;
  font-size: 20px;
  text-decoration: none;
  margin-left: 50%;
  
  
}
.cartbefore{
  display: flex;
  flex-direction: row;
  color: white;
  position: absolute;
  font-size: 20px;
  text-decoration: none;
  
}
.block{
  background-color:lightslategray;
  padding:1rem;
  border-radius: 0.5rem;
  width:100%;
  text-align: center;
 
}

.row .BUYIT{
  width: 100px;
}
.col2 img{
  width: 50%;
}

@media all
    and (max-width: 475px) 
    and (min-width: 350px)
{

  .block{
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .row .BUYIT{
    width: 100px;
  }
  .col2 img{
    width: 40%;
  }
  .navBar{
    width: 50%;
  }
  .row{
   
    width:fit-content
  }
}



.reviews{
  text-align: center;
  margin: auto;
  width: 50%;
}
.reviews label{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}



.theimg :hover{
opacity: 1;
}

.entertainComments{
  display: flex;
  height: 100%;
  text-align: center;
}
.CommentE{
  margin-left: 120px;
}
.RatingE{
  width: 20px;
  margin-left: 80px;
}
.NameE{
  width: 150px;
}
@media only screen 
and (device-width:375px){
  .entertainComments{
    display: block;
    text-align: center;
  }
  .CommentE{
    margin-left: 0px;
   
  }
  .RatingE{
    width: 0;
    margin-left: 40px;
  }
  .NameE{
    width: 0px;
  }
}

/* media for submiting reviews*/
@media only screen 
    and (device-width: 375px) 
{
  .block{
  background-color:lightslategray;
  padding:1rem;
  border-radius: 0.5rem;
  width:100%;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

}


/* Below is for the star rating */


.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}
.rate:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rate:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:20px;
  color:#ccc;

}
.rate:not(:checked) > label:before {
  content: '★ ';
}
.rate > input:checked ~ label {
  color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}
