h1{
  font-size: 20px;
}
.IMG{
  height:400px
}
@media all  
and (max-width: 475px) 
and (min-width: 320px)
{ 

  h1{
    font-size: 20px;
  }
  
  div{
   display: block;
  }
  div p{
    font-size: 15px;
  }
   .IMG{
    height: 270px;
  }
}





.carousel-control-next-icon{
  display: none;
  
}
.carousel a{
  width:10px;
  height:10px
}

.carousel-control-prev-icon{
  display: none;
  
}

.progress-bar.progress-bar-striped.active{
  animation: progress-animation 5.6s infinite;
  background-color: #8C92AC
}

@keyframes progress-animation{
  0% {
    width: 0;
  }
  100%{
    width: 100%;
  }
}

.Paradise{
  text-transform: uppercase;
  margin-top: 60px;
  margin-bottom: 30px;
  text-align: center;
  color: #8C92AC;
  font-weight: 650;
}
p{
  padding: 20px;
  font-family: sans-serif;
  font-weight: 450;
  font-size: 1.1rem;
}